<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Forget your Password</p>

   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
      
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true ,:class=>"form-control",:placeholder => "Email"%>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      
        <!-- /.col -->
        <div class="row">
         <div class="col-xs-12">
        	<%= f.submit "Reset Password" ,:class=>"btn btn-primary btn-block btn-flat"%>
         </div>	 	
        </div>
        <!-- /.col -->
      </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>

    <%- if controller_name != 'sessions' %>
      <%= link_to "I already have a membership", new_session_path(resource_name) %><br />
    <% end -%>
  </div>
  <!-- /.form-box -->
</div>